html, body {
    height: 100%;

}

body{
    min-width: 320px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

main.main{
    flex: 1 1 auto; /* flex-grow  flex-shrink  flex basis(задает базовый размер)*/
}