/* Обшие стили */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color:#f5f5f5;
    --text-color:#6c757d;
    --accent-color:#ffd333;
    --contrast-color:#3d464d;
    --gray-color:#ccc;
    --red-color:#ee6e73;
    --light-grey-color:#eee;
}

html, body {
    height: 100%
}

body{
    min-width: 320px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a{
    color: var(--text-color);
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
/*     color: var(--text-color); */
}

img{
    max-width: 100%;
    height: auto;
}

.btn, .dropdown-menu,
.form-control{
    border-radius: 0;
}

.form-control:focus {
    color: var(--text-color);
    border-color: var(--accent-color);
    box-shadow: none;
}

.bg-warning{
/*  */
}

.form-control::placeholder{
    color: var(--gray-color);
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.btn-warning{
    border-color: var(--accent-color);
}

.btn-outline-warning:hover{
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.cart-buttons a:focus,
.cart-buttons button:focus{
    box-shadow: none; 
}

.main{
    flex: 1 1 auto; /* flex-grow (сколько свободного пространства)  flex-shrink(фактор сжатия   flex basis(задает базовый размер)*/
}

section{
    padding: 50px 10px;
}

.section-title{
    position: relative;
    text-transform: uppercase;
    color:var(--contrast-color);
    font-weight: 700;
}

.section-title span {
    background-color: var(--bg-color);
/*     padding-right: 1rem; */
}

.section-title::after{
    position: absolute;
    content: "";
    width: 100%;
    top: 50%;
    left: 0;
    border-top: 1px dashed var(--text-color);
    z-index: -1;
}

/* Хедер стили */

.header-top-phone a {
    text-decoration: none;
}

.header-top-phone a:hover{
    text-decoration: underline;
    color: var(--text-color);
}

ul.social-icons{
   list-style: none; 
   margin-bottom: 0;
   padding: 0;

}

ul.social-icons li {
    margin-right: 10px;
}

ul.social-icons a{
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s;
}

ul.social-icons a:hover{
    background-color: var(--contrast-color);
    color: var(--accent-color);
}

.header-top .btn{
    background-color: white;
} 

.header-logo{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--contrast-color);
    transition: all 0.3s;
}

.header-logo:hover{
    color: var(--accent-color);
}

.cart-buttons .btn span {
    color: var(--contrast-color);
}

.cart-buttons .btn {
    transition: 0.5s;
}

.cart-buttons .btn:hover {
    border: 1px solid #000;
}

.header-bottom{
    border-top: 3px solid var(--accent-color);
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
}


.header-bottom .navbar,
.header-bottom .navbar .dropdown-menu{
    background-color: var(--contrast-color)!important;
}

.header-bottom .nav-item:first-child .nav-link{
    padding-left: 0;
}

.header-bottom .navbar .nav-link{
    color:white;
    transition: all 0.3s;
    letter-spacing: 0.1rem;
}

.header-bottom .navbar .nav-link:hover{
    color:var(--accent-color)
}

.header-bottom .navbar .nav-link.active{
    color: var(--accent-color);
}

.header-bottom .navbar .dropdown-menu {
    margin-top: 7px;
}
.navbar-toggler:focus{
    box-shadow: none; 
}

.headernav-scroll.header-bottom .navbar .nav-link {
    padding-top: 8px;
    padding-bottom: 8px;
}




/* Main */

/* carousel */
.carousel-caption{
   text-shadow:rgba(0, 0, 0, 1) 1px 4px 4px;
}

.carousel-caption p {
    letter-spacing: 0.1rem;
}

/* Advantages */

.advantages .items{
    margin-top: 50px;
}

.advantages .items .item{
    background-color: white;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all .5s;
}

.advantages .items .item:hover{
box-shadow: 0 15px 30px -20px rgba(0, 0, 0, 0.5);
}

.advantages i{
    font-size: 70px;
    color: var(--accent-color);
}

.product{
    width: 100%;
    height: 200px;
    background-color: #ffd333;
}

/* product card */
.product-card {
    transition: all .3s;
    border: 1px solid var(--gray-color);
    background-color: #fff;
    position: relative;
} 

.product-card:hover {
    box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.product-card-offer {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
}

.product-card-offer > div{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6px;    
}

.product-thumb {
    text-align: center;
}

.product-thumb img {
    max-height: 250px;

}

.product-details{
    padding: 10px 20px;
}

.product-details h4{
    font-size: 1.2rem;
}

.product-details h4 a{
    font-size: 1.2rem;
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* указывает к-во строк если текст больше, тогда в конце строки будет ...  */
    -webkit-box-orient: vertical;
    text-decoration: none;
    transition: all 0.3s;
}

.product-details h4 a:hover{
    color: var(--contrast-color);
}


.product-excerpt {
    height: 45px;
    overflow: hidden;
    -webkit-line-clamp: 2; /* указывает к-во строк если текст больше, тогда в конце строки будет ...  */
    -webkit-box-orient: vertical;
    text-decoration: none;
}

.product-bottom-details{
    border-top: 1px solid var(--light-grey-color);
    padding-top: 1rem;
}

.product-price {
    font-size: 18px;
    color: var(--red-color);
    font-weight: 600;
    line-height: 36px;
}

.product-price small {
    color: var(--gray-color);
    font-weight: 400;
    text-decoration: line-through;
    font-size: 0.8rem;
}






.offer-hit{
    background-color: var(--red-color);
}
.offer-new{
    background-color: var(--accent-color);
}



@media only screen and (min-width: 992px){
    .header-bottom .navbar .dropdown-menu-end{
        margin-left: 0;
        border: 0;
    }

    .header-bottom .navbar .nav-link{
        padding: 1rem;
    }
}

@media only screen and (max-width: 991.98px){
    .header-bottom .navbar .dropdown-menu-end{
        padding-left: 1rem;
    }
}

