/* Обшие стили */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color:#f5f5f5;
    --text-color:#6c757d;
    --accent-color:#ffd333;
    --contrast-color:#3d464d;
    --gray-color:#ccc;
}

html, body {
    height: 100%
}

body{
    min-width: 320px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a{
    color: var(--text-color);
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
/*     color: var(--text-color); */
}

img{
    max-width: 100%;
    height: auto;
}

.btn, .dropdown-menu,
.form-control{
    border-radius: 0;
}

.form-control:focus {
    color: var(--text-color);
    border-color: var(--accent-color);
    box-shadow: none;
}

.bg-warning{
/*  */
}

.form-control::placeholder{
    color: var(--gray-color);
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.btn-warning{
    border-color: var(--accent-color);
}

.btn-outline-warning:hover{
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.cart-buttons a:focus,
.cart-buttons button:focus{
    box-shadow: none; 
}

.main{
    flex: 1 1 auto; /* flex-grow (сколько свободного пространства)  flex-shrink(фактор сжатия   flex basis(задает базовый размер)*/
}

/* Хедер стили */

.header-top-phone a {
    text-decoration: none;
}

.header-top-phone a:hover{
    text-decoration: underline;
    color: var(--text-color);
}

ul.social-icons{
   list-style: none; 
   margin-bottom: 0;
   padding: 0;

}

ul.social-icons li {
    margin-right: 10px;
}

ul.social-icons a{
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s;
}

ul.social-icons a:hover{
    background-color: var(--contrast-color);
    color: var(--accent-color);
}

.header-top .btn{
    background-color: white;
} 

.header-logo{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--contrast-color);
    transition: all 0.3s;
}

.header-logo:hover{
    color: var(--accent-color);
}

.cart-buttons .btn span {
    color: var(--contrast-color);
}

.cart-buttons .btn {
    transition: 0.5s;
}

.cart-buttons .btn:hover {
    border: 1px solid #000;
}

.header-bottom{
    border-top: 3px solid var(--accent-color);
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
}


.header-bottom .navbar,
.header-bottom .navbar .dropdown-menu{
    background-color: var(--contrast-color)!important;
}

.header-bottom .nav-item:first-child .nav-link{
    padding-left: 0;
}

.header-bottom .navbar .nav-link{
    color:white;
    transition: all 0.3s;
    letter-spacing: 0.1rem;
}

.header-bottom .navbar .nav-link:hover{
    color:var(--accent-color)
}

.header-bottom .navbar .nav-link.active{
    color: var(--accent-color);
}

.header-bottom .navbar .dropdown-menu {
    margin-top: 7px;
}
.navbar-toggler:focus{
    box-shadow: none;
}

@media only screen and (min-width: 992px){
    .header-bottom .navbar .dropdown-menu-end{
        margin-left: 0;
        border: 0;
    }

    .header-bottom .navbar .nav-link{
        padding: 1rem;
    }
}

@media only screen and (max-width: 992px){
    .header-bottom .navbar .dropdown-menu-end{
        padding-left: 1rem;
    }
}

